<div class="closet-contents">

  <div class="closet-header">
    <div class="closet-header-title">CLOSET</div>
  </div>

  <div class="tab-panel">
    <!--タブ-->
    <div>
      <ul class="tab-group">
        <li class="tab tab-A is-active spring">春</li>
        <li class="tab tab-B summer" >夏</li>
        <li class="tab tab-C autumn">秋</li>
        <li class="tab tab-D winter">冬</li>
        <li class="tab tab-F others">他</li>
      </ul>
    </div>
    
    <!--タブを切り替えて表示するコンテンツ-->
    <div class="panel-group">
      <div class="panel tab-A is-show">Content-A</div>
      <div class="panel tab-B">Content-B</div>

      <div class="panel tab-C">
        <div class="clothes-genre">
          <div class="genre-menu">
            <div class="genre-title">アウター</div>
            <div class="genre-sort">並び順/新しい順/古い順</div>
          </div>
        </div>
        <div class="genre-images">
          <% @closets.where(genre_id: 1, season_id: 3).each do |closet| %>
            <div class="genre-image"><%= link_to image_tag(closet.image), closet_path(closet.id) %></div>
          <% end %>
        </div>
        <div class="clothes-genre">
          <div class="genre-menu">
            <div class="genre-title">トップス</div>
            
          </div>
        </div>
        <div class="genre-images">
          <% @closets.where(genre_id: 2, season_id: 3).each do |closet| %>
            <div class="genre-image"><%=image_tag closet.image %></div>
          <% end %>
        </div>
        <div class="clothes-genre">
          <div class="genre-menu">
            <div class="genre-title">ボトムス</div>
            
          </div>
        </div>
        <div class="genre-images">
          <% @closets.where(genre_id: 3, season_id: 3).each do |closet| %>
            <div class="genre-image"><%=image_tag closet.image %></div>
          <% end %>
        </div>
      </div>

      <div class="panel tab-D">Content-D</div>
      <div class="panel tab-F">Content-F</div>
    </div>
  </div>
  
</div>