<div class="calendar-form">
  <%= form_with(model: @calendar, local: true) do |form| %>
    <div class="calendar-time"><%= form.date_select :start_time %></div>
    <div class="calendar-file"><%= form.file_field :images, multiple: true %></div>
    <div class="calendar-submit"><%= form.submit "追加する" %></div>
  <% end %>
</div>