<div class="calender-contents">

  <div class="calendar-title">コーディネート</div>
  <%= week_calendar(number_of_weeks: 1) do |date| %>
    <div class="date-area">
    <%= date %>
    
    </div>
  <% end %>

</div>