.calendar-title {
  height: 100px;
  font-size: 24px;
  line-height: 100px;
  text-align: center;
}
.calendar-contents {
  width: 900px;
  height: 100%;
  margin: 0 auto;
}
.date-area {
  height: 750px;
  margin: 0 auto;
  overflow: hidden;
}
.main-image {
  height: 115px;
  width: 115px;
  object-fit: cover;
}
.other-image img {
  height: 115px;
  width: 115px;
  object-fit: cover;
}
.calendar-date {
  width: 115px;
  height: 37.5px;
  line-height: 37.5px;
  text-align: center;
}
.page-footer {
  height: 50px;
}
.table th {
  text-align: center;
  height: 50px;
}
.table thead {
  background-color: #fff;
}
.table tbody {
  background-color: #fff;
}
.calendar-time select {
  height: 30px;
}
.calendar-time {
  margin-bottom: 5px;
}
.calendar-submit input {
  height: 30px;
  width: 111px;
  margin-top: 5px;
}
#_start_time_1i {
  width: 70px;
}
#_start_time_3i {
  width: 50px;
}


/* スマホ */
@media (max-width: 599px) {
  
}