.calendar-title {
  height: 100px;
  font-size: 24px;
  line-height: 100px;
  text-align: center;
}
.calendar-contents {
  width: 900px;
  height: 100%;
  margin: 0 auto;
}
.date-area {
  height: 750px;
  margin: 0 auto;
  overflow: hidden;
}
.calendar-new {
  height: 200px;
  background-color: #fff;
}
.main-image {
  height: 115px;
  width: 115px;
  object-fit: cover;
}
.other-image img {
  height: 115px;
  width: 115px;
  object-fit: cover;
}
.calendar-date {
  width: 115px;
  height: 37.5px;
  line-height: 37.5px;
  text-align: center;
}
.page-footer {
  height: 50px;
}