.tab-group{
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.tab{
  flex-grow: 1;
  list-style:none;
  text-align:center;
  cursor:pointer;
  border-bottom: 1px solid #CCC;
  height: 52px;
  line-height: 52px;
  text-align: center;
}
/*.spring {
  background-color: #f7c8d1;
}
.summer {
  background-color: #95c92e;
}
.autumn {
  background-color: #c0c4e3;
}
.winter {
  background-color: #aadde1;
}
.others {
  background-color: lightgray;
}*/
.panel-group{
  border:solid 1px #CCC;
  border-top:none;
  background: white;
}
.panel-group img {
  height: 270px;
  width: 270px;
  object-fit: cover;
  margin-left: 22px;
}
.panel{
  display:none;
  height: 1200px;
}
.tab.is-active{
  transition: all 0.2s ease-out;
  border-top:solid 1px #CCC;
  border-right:solid 1px #CCC;
  border-bottom:solid 1px white;
  border-left:solid 1px #CCC;
  background: white;
}
.panel.is-show{
  display:block;
}
.closet-contents {
  width: 900px;
  margin: 0 auto;
}
.closet-header {
  width: 100%;
  height: 100px;
}
.closet-header-title {
  line-height: 100px;
  text-align: center;
  font-size: 24px;
}
.genre-images {
  display: flex;
  flex-wrap: wrap;
}

/* newページのcss */
.notifications {
  font-size: 18px;
  color: #fff;
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
}
.alert {
  background-color: #ff7c5c;
}
.clothes-form-content {
  height: 750px;
  width: 750px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 0 auto;
  margin-top: 37px;
}
.image-preview img {
  height: 320px;
  width: 320px;
  object-fit: cover;
}
.image-form {
  margin-bottom: 6.5px;
}
.form-right {
  margin-left: 6.5px;
}
.clothes-form {
  width: 650px;
  margin: 143px auto;
  display: flex;
}
.clothes-category input {
  width: 320px;
  height: 45px;
  margin-bottom: 6.5px;
  padding-left: 10px;
}
.select-box {
  width: 320px;
  height: 45px;
  margin-bottom: 6.5px;
  padding-left: 10px;
}
.closet-submit input {
  width: 320px;
  height: 45px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 3px;
}
#preview-none img {
  opacity: 0.7;
}

/*モーダルウィンドウのcss*/
#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
#modal {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 2;
  width: 750px;
}
#mask.hidden {
  opacity: 0;
  visibility: hidden;
}
#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

/* show画面(モーダル)のcss */
.show {
  height: 750px;
  width: 750px;
  background-color: white;
  padding: 22.5px 45px 0;
  border-radius: 2px;
}
.show-menu {
  display: flex;
  justify-content: right;
  height: 44px;
}
.show-delete img {
  height: 25px;
  width: 25px;
  opacity: 0.8;
}
.show-contents {
  display: flex;
  height: 100%;
  width: 100%;
}
.show-image img {
  height: 320px;
  width: 320px;
  object-fit: cover;
}
.show-category {
  height: 50px;
  border-bottom: 1px solid lightgray;
  width: 320px;
  line-height: 50px;
  text-align: left;
  font-size: 17px;
}
.favoriteArea {
  height: 50px;
  width: 320px;
  border-bottom: 1px solid lightgray;
  line-height: 50px;
  text-align: left;
  font-size: 17px;
}
.scroll {
  overflow: scroll;
  white-space:nowrap;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
.scroll::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}
.show-right {
  height: 520px;
  width: 320px;
  margin-left: 20px;
}
#memo-display {
  height: 575px;
  width: 100%;
  font-size: 17px;
  overflow: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
#memo-display::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}
.memo-form {
  height: 50px;
}
.memo-content input {
  height: 50px;
  display: block;
}
.memo-content {
  width: 270px;
  padding-left: 10px;
}
.memo-form-submit {
  height: 50px;
  width: 50px;
  display: block;
  cursor: pointer;
}
.memo-form-display {
  display: flex;
}
.memo {
  margin-bottom: 5px;
}

/* tab_categoryのcss */
.tab-list{
  display: flex;
  justify-content: end;
}
.tab-list li {
  font-size: 18px;
}
.tab-lists {
  padding: 27px 44px 27px 0;
}
.tab-passive{
  padding:5px;
  list-style:none;
  text-align:center;
  cursor:pointer;
}
.tab-content{
  height:1105px;
  overflow: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
.tab-content::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}
.tab-content img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin-left: 20px;
  margin-bottom: 18px;
} 
.tab-box{
  display:none;
}
.tab-passive.tab-active{
  transition: all 0.2s ease-out;
}
.tab-box.box-show{
  display:block;
}

/* スマホ */
@media (max-width: 599px) {

  .tab{
    font-size: 12px;
    height: 30px;
    line-height: 30px;
  }
  .panel-group img {
    height: 95px;
    width: 95px;
    margin-left: 8px;
  }
  .closet-contents {
    width: calc(100vw - 15%);
  }
  .closet-header {
    height: 60px;
  }
  .closet-header-title {
    line-height: 60px;
    font-size: 18px;
  }
  .page-footer {
    height: 25px;
  }
  .panel{
    height: 465px;
  }
  .genre-images {
    height: 106px;
    padding-right: 4px;
  }

  /* tab_categoryのcss */
  .tab-list{
    display: flex;
    justify-content: center;
  }
  .tab-list li {
    font-size: 12px;
  }
  .tab-lists {
    padding: 0px;
    height: 48px;
    line-height: 48px;
    text-align: center;
  }
  .tab-passive{
    padding:0px;
    list-style:none;
    text-align:center;
    cursor:pointer;
  }
  .tab-content{
    height:415px;
    overflow: scroll;
  }
  .tab-content img {
    height: 95px;
    width: 95px;
    margin-left: 8px;
    margin-bottom: 3px;
  }

  /* post-formページのcss */
  .notifications {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
  }
  .clothes-form-content {
    height: 600px;
    width: calc(100% - 15%);
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .image-preview {
    width: calc(100% - 30px);
    margin: 0 auto;
  }
  #preview-none {
    width: 200px;
    margin: 20px auto 10px;
  }
  .preview {
    width: 200px;
    margin: 20px auto 10px;
  }
  .image-form {
    width: calc(100% - 30px);
    margin: 0 auto;
  }
  .image-form input {
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
  .image-preview img {
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }
  .image-form {
    margin-bottom: 10px;
  }
  .form-right {
    width: calc(100% - 50px);
    margin: 0 auto;
  }
  .clothes-form {
    width: calc(100% - 30px);
    margin: 0 auto;
    display: block;
  }
  .clothes-category {
    width: 100%;
    margin: 0 auto;
  }
  .clothes-category input {
    font-size: 14px;
    margin: 0 auto;
    width: 100%;
    height: 35px;
    margin-bottom: 2px;
    padding-left: 10px;
    border-left:white;
    border-top: white;
    border-right: white;
    border-bottom: 1px solid lightgray;
  }
  .select-box {
    font-size: 14px;
    width: 100%;
    height: 35px;
    margin-bottom: 2px;
    padding-left: 2px;
    border-left:white;
    border-top: white;
    border-right: white;
    border-bottom: 1px solid lightgray;
  }
  .closet-submit input {
    width: 100%;
    height: 35px;
    border: 1px solid gray;
    margin-top: 14px;
    font-size: 14px;
  }
  
  /*モーダルウィンドウのcss*/
  #modal {
    width: calc(100% - 15%);
    height: calc(100% - 20%);
  }
  
  /* show画面のcss */ 
  .show {
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: scroll;
  }
  .show-menu {
    height: 18px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .show-contents {
    display: block;
    height: 100%;
    width: 100%;
  }
  .show-left {
    height: 100%;
    width: 100%;
    padding: 0 20px;
  }
  .show-image img {
    height: 300px;
    width: 100%;
  }
  .show-category {
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-size: 15px;
  }
  .favoriteArea {
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-size: 15px;
  }
  .show-right {
    height: 350px;
    width: 100%;
    margin-left: 0px;
    padding: 0 20px;
  }

  #memo-display {
    height: 300px;
    width: 100%;
    font-size: 15px;
    padding-top: 50px;
  }
  .memo-form {
    height: 35px;
    font-size: 14px;
  }
  .memo-content input {
    height: 35px;
    display: block;
  }
  .memo-content {
    width: calc(100% - 50px);
    padding-left: 10px;
  }
  .memo-form-submit {
    height: 35px;
    width: 50px;
    display: block;
    cursor: pointer;
    font-size: 14px;
  }
  .memo-form-display {
    display: flex;
  }
  .memo {
    margin-bottom: 3px;
  }
  .space {
    height: 30px;
  }
}