.stats-title {
  height: 100px;
  width: 100%;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
}
.stats-contents {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.panel-width {
  width: 600px;
}
.date {
  height: 65px;
  border-bottom: 1px solid lightgray;
  font-size: 22px;
  line-height: 65px;
  text-align: center;
  width: 550px;
}
.stats-right {
  margin-top: 50px;
  margin-left: 50px;
}
.panel-category {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 20px;
}
.item-count {
  height: 60px;
  width: 400px;
  margin: 0 auto;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  font-size: 18px;
}
.category-count {
  height: 35px;
  width: 100%;
  line-height: 35px;
  text-align: center;
  font-size: 18px;
}
.spring1 {
  color: #cd7693;
  margin-right:5px;
}
.spring2 {
  color: #eab9c9;
  margin-right:5px;
}
.spring3 {
  color: #f2d6df;
  margin-right:5px;
}
.summer1 {
  color: #76cd76;
  margin-right:5px;
}
.summer2 {
  color: #b9eaba;
  margin-right:5px;
}
.summer3 {
  color: #d6f2d6;
  margin-right:5px;
}
.autumn1 {
  color: #cd9376;
  margin-right:5px;
}
.autumn2 {
  color: #eac9b9;
  margin-right:5px;
}
.autumn3 {
  color: #f2dfd6;
  margin-right:5px;
}
.winter1 {
  color: #769fcd;
  margin-right:5px;
}
.winter2 {
  color: #b9d7ea;
  margin-right:5px;
}
.winter3 {
  color: #d6e6f2;
  margin-right:5px;
}
.stats-images {
  display: flex;
  width: 100%;
  overflow: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
.stats-images::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}
.stats-image img {
  height: 170px;
  width: 170px;
  object-fit: cover;
}
.favorite-title {
  height: 80px;
  font-size: 19px;
  line-height: 80px;
  text-align: center;
}
.desc {
  margin-top: 30px;
}
.stats-count {
  line-height: 24px;
  text-align: center;
}
.bottom {
  margin-bottom: 65px;
}

.stats-footer {
  height: 30px;
}