.user-form-content {
  height: 750px;
  width: 600px;
  background-color: white;
  border: 1px solid lightgray;
  margin: 37px auto 0;
}
.user-form-title {
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 21px;
}
.user-form {
  width: 350px;
  margin: 0 auto;
}
.user-form-input input {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 20px;
}
.user-form-btn input {
  height: 44px;
  width: 100%;
  border-radius: 22px;
  border: none;
  color: white;
  background-color: rgb(251, 130, 24);
  cursor: pointer;
}
.others-sign-in {
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.sign-in {
  height: 44px;
  line-height: 44px;
  text-align: center;
  width: 100%;
  border-radius: 22px;
}
.m {
  border: 1px solid rgb(251, 130, 24);
  margin-bottom: 20px;
}
.m a {
  color: rgb(251, 130, 24);
}
.t {
  border: 1px solid #00acee;
}
.t a {
  color: #00acee;
}
.g {
  background-color: gray;
  margin-bottom: 20px;
}
.g a {
  color: white;
}
.others-account {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.new {
  margin-bottom: 20px;
}

.o {
  border: 1px solid gray;
}
.o a {
  color: gray;
}