#weather {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.weather__title {
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1.5px solid lightgray;
  font-size: 21px;
}
.weather__content--report {
  width: 150px;
  height: 120px;
}

/* スマホ */
@media (max-width: 599px) {
  #weather {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .weather__title {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1.5px solid lightgray;
    font-size: 17px;
  }
  .weather__content--report {
    width: 106px;
    height: 180px;
  }
  .weather__content--report-date {
    font-size: 14px;
  }
  .weather__content--report-temp-max {
    font-size: 14px;
  }
  .weather__content--report-temp-min {
    font-size: 14px;
  }
}