#weather {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.weather__title {
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: 1.5px solid lightgray;
  font-size: 21px;
}
.weather__content--report {
  width: 150px;
  margin-bottom: 20px;
}
.weather__content--report img {
  width: 80px;
}
.weather__content--report-temp-max {
  font-size: 17px;
}
.weather__content--report-temp-min {
  font-size: 17px;
}
.weather__content--report-date {
  font-size: 17px;
}

/* スマホ */
@media (max-width: 599px) {
  #weather {
    display: flex;
    justify-content: normal;
    margin-bottom: 28px;
    overflow: scroll;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
  }
  #weather::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
  }
  .weather__title {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1.5px solid lightgray;
    font-size: 17px;
  }
  .weather__content--report {
    width: 106px;
    margin-bottom: 0px;
  }
  .weather__content--report img {
    width: 63px;
  }
  .weather__content--report-date {
    font-size: 14px;
  }
  .weather__content--report-temp-max {
    font-size: 14px;
    width: 82px;
  }
  .weather__content--report-temp-min {
    font-size: 14px;
  }
}