<% @closet.memos.each do |memo| %>
  <div class="memo">
    <p>
    <%= memo.content%>
    <%= link_to closet_memo_path(closet.id, memo), method: :delete, remote: true do %>
    <button>削除</button>
    <% end %>
    </p>
  </div>
<% end %>