<% @closet.memos.each do |memo| %>
  <div class="memo">
    <p>
    <%= link_to "#{memo.content}",closet_memo_path(closet.id, memo), method: :delete, remote: true, data: { confirm: "削除しますか？" } %>
    </p>
  </div>
<% end %>